/******************* Product ************************/
.mv_offcanvas_filter_heading {
    border-bottom: 0.8px solid #D2D2D2;
}
.mv_offcanvas_filter_heading  .btn-close:focus{
    box-shadow: none !important;
}
.mv_offcanvas_bottom_button {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px 0px;
}
.mv_offcanvas_filter_category {
    font-size: 14px;
    font-weight: 600;
    line-height: 19.36px;
    color: #2B221E;
}
.mv_cancel_apply_btn {
    margin-right: 30px;
}
.mv_price_range{
    position: relative;
}
.mv_horisilder{
    margin: 20px 0;
    height: 6px;
}
.mv_track{
    background: #b5b5b5;
    height: 6px;
}
.mv_track_active{
    background: #2B221E;
}
.mv_thumb{
    height: 20px;
    width: 20px;
    background-color: #2B221E;
    cursor: pointer;
    border-radius: 50%;
    position: relative;
    top: -8px;
}
.mv_price_label{
    position: absolute;
    top: 15px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    color: #000;
}
.mv_price_min,
.mv_price_max{
    z-index: 1;
}
.mv_price_max{
    transform: translateX(-80%);
}
.mv_other_category {
    padding: 0px 20px;
}
.mv_dashboard_heading{
    color: #6A6A6A !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    line-height: 19.36px !important;
}
.mv_category_heading{
    color: #2B221E !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    line-height: 19.36px !important;
    margin-left: 4px;
}
.mv_column_button button{
    width: 120px;
    background-color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    border: 1px solid #95908F;
    border-radius: 4px;
    padding: 6px 15px !important;
    margin-right: 15px;
    color: #2B221E;
}
.mv_column_button button:hover{
    color: #002846 !important;
    background-color: #fff !important;
    border: 1px solid #95908F !important;
}
.mv_column_button .show{
    color: #002846 !important;
    background-color: #fff !important;
}
.mv_column_button button:active{
    color: #002846 !important;
    background-color: #fff !important;
}
.mv_column_button button img{
    margin-right: 5px;
    height: 18px;
    width: 18px;
}
.mv_add_category button{
    width: 120px;
    background-color: #2B221E;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    border: none;
    border-radius: 4px;
    padding: 7px 15px;
}
.mv_add_category button a{
    color: #fff;
    text-decoration: none !important;
}
/* .mv_category_table{
    background-color: #fff;
    box-shadow: -2.19px 4.38px 63.51px 0px #7777771A;
} */

.mv_pencil_icon{
    border-radius: 4px;
    border: 0.5px solid #002846;
    margin-right: 10px;
    cursor: pointer;
}
.mv_pencil_icon:last-child{
    margin-right: 0px;
}
.mv_pencil_icon img{
    margin-right: 0px !important;
    padding: 8px 8px;
    height: 34px !important;
}

.form-check-input:focus{
    box-shadow: none !important;
}
.form-switch .form-check-input{
    --bs-form-switch-bg: url(../mv_img/form_switch_white.svg);
    background-color: #6A6A6A;
}
.form-switch .form-check-input:focus{
    --bs-form-switch-bg: url(../mv_img/form_switch_white.svg);
    /* background-color: #002846; */
}
.form-check-input:checked {
    background-color: #2B221E !important;
    border-color: #2B221E !important;
    cursor: pointer !important;
}
.form-switch .form-check-input{
    cursor: pointer !important;
}

.mv_dropdown_column{
    margin-top: 0px !important;
    transform: translate(0px, 33px) !important;
}
.mv_dropdown_item{
    min-width: 8rem !important;
}
.mv_drop_down_menu_category{
    padding: 2px 4px 2px 8px !important;
}
.mv_column_heading{
    font-size: 18px;
    font-weight: 400;
    line-height: 21.78px;
    margin-right: 5px;
}
.mv_drop_down_menu_category:hover{
    background-color: #D2D2D2;
}
.mv_other_category p{
    border: 1px solid #2B221E;
    border-radius: 4px;
    padding: 5px 12px;
    margin-right: 10px;
    font-weight: 600;
    cursor: pointer;
    color: #333333;
}
.mv_active{
    background-color: #2B221E;
    color: #fff !important;
}
.mv_other_category p:hover{
    background-color: #2B221E;
    color: #fff;
}
.mv_other_category p:last-child{
    margin-right: 0px;
}
.mv_browse_button{
    display: inline-block;
    background-color: #2B221E;
    border-radius: 3px;
    padding: 10px 12px 5px 12px;
    outline: none;
    white-space: nowrap;
    cursor: pointer;
    font-size: 13px;
    font-weight: 500;
    line-height: 15.73px;
    color: #fff;
}


.mv_delivered_padd{
    padding: 5px 10px;
    color: #0D894F;
    background-color: #EDFBE3;
    width: 120px;
    text-align: center;
    font-weight: 600;
}
.mv_pending_padd{
    padding: 5px 10px;
    color: #DF8600;
    background-color: #EDFBE3;
    width: 120px;
    text-align: center;
    font-weight: 600;
}
.mv_cancelled_padd{
    padding: 5px 10px;
    color: #FF0000;
    background-color: #EDFBE3;
    width: 120px;
    text-align: center;
    font-weight: 600;
}
.mv_product_radius_img{
    border-radius: 0% !important;
}
.mv_table_search{
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
}




/* @media(max-width: 1024px){
    .mv_column_button button{
        margin-right: 15px !important;
    }
} */
@media(max-width: 767px){
    .mv_table_search{
        display: block;
    }
    .mv_product_search{
        margin-bottom: 10px;
    }
    .mv_table_no_flex{
        display: flex !important;
    }
}
@media(max-width: 768px){
    .mv_offcanvas_filter{
        max-width: 350px !important;
    }
}
@media(max-width: 575px){
    .mv_view_status_padd button{
        width: 101px !important;
    }
}
@media(max-width: 425px){
    .mv_table_search{
        padding: 10px 15px;
    }
    .mv_column_button button {
        width: 100px;
        font-size: 14px;
    }
    .mv_add_category button {
        width: 95px;
        font-size: 14px;
    }
    .mv_dashboard_heading{
        font-size: 14px !important;
    }
    .mv_category_heading{
        font-size: 14px !important;
    }
    .mv_offcanvas_filter{
        max-width: 270px !important;
    }
    .mv_other_category p{
        padding: 2px 7px;
    }
    .mv_other_category p:nth-child(2),.mv_other_category p:nth-child(3){
        padding: 2px 9px;
    }
}
@media(max-width: 375px){
    .mv_dashboard_heading{
        font-size: 13px !important;
    }
    .mv_category_heading{
        font-size: 13px !important;
    }
    .mv_column_button button{
        font-size: 13px;
    }
    .mv_add_category button{
        font-size: 13px;
    }
    .mv_add_product button{
        padding: 7px 15px !important;   
    }
  
}
/* ************************************************ */





/********************* Unit ***********************/
.mv_edit_profile_header {
    padding: 1rem 1rem !important;
    text-align: center !important;
    border-bottom: none !important;
}
.mv_edit_profile_header  button:focus{
    box-shadow: none !important;
}
.mv_edit_profile_title {
    font-size: 20px !important;
    font-weight: 600 !important;
    line-height: 26.63px !important;
    text-align: center !important;
}
.mv_edit_profile_model_padd {
    padding: 1rem 25px !important;
}
.mv_edit_profile_model_padd  form{
    padding: 0px !important;
}
.mv_edit_profile_label {
    font-size: 14px;
    font-weight: 600;
    line-height: 16.94px;
    color: #6A6A6A;
}
/* ************************************************ */




/******************** Coupen ************************/

@media(max-width: 425px){
    
}
/* ************************************************ */




/******************** Coupen ************************/
.mv_filter_start_date{
    width: 100px !important;
    color: #6A6A6A !important;
}
.mv_add_product_date_scheduled {
    position: relative;
}
.mv_add_product_date {
    position: absolute;
    background-color: #fff;
    top: 6px;
    left: 10px;
    padding: 5px;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
}
/* ************************************************ */




/******************** Coupen ************************/
.mv_main_product{
    box-shadow: 1px 1px 20px 0.5px #0000000F;
    background-color: #fff;
    padding: 16px;
    border-radius: 4px;
}
.mv_main_view_product_con{
    --bs-gutter-x: 0 !important;
    margin-bottom: 20px;
}
.mv_view_product_img{
    width: 100%;
    height: auto;
}
.mv_view_product_heading{
    font-weight: 600;
    font-size: 16px;
    line-height: 19.36px;
    letter-spacing: 0px;
    color: #6A6A6A;
}
.mv_view_product_sub_heading{
    font-weight: 500;
    font-size: 16px;
    line-height: 19.36px;
    letter-spacing: 0%;
    color: #000000;
}
.mv_main_offerdetails_con{
    box-shadow: 1px 1px 20px 0.5px #0000000F;
}
.mv_offer_details_heading{
    font-weight: 500;
    font-size: 18px;
    line-height: 21.78px;
    letter-spacing: 0px;
    color: #2B221E;
    padding: 20px 30px;
    background-color: #fff;
    border-bottom: 0.91px solid #D8D8D8 !important;
}
.mv_main_offerdetails{
    padding: 20px 30px;
    background-color: #fff;
}


@media(max-width:575px){
    .mv_view_product_img{
        margin-bottom: 15px;
    }
    .mv_main_offerdetails {
        padding: 10px 10px;
    }
    .mv_offer_details_heading {
        padding: 10px 10px;
    }
    .mv_view_product_heading{
        font-size: 12px;
        margin-bottom: 10px;
    }
    .mv_view_product_sub_heading{
        font-size: 12px;
        margin-bottom: 10px;
    }
    .mv_offer_details_sub_heading{
        font-size: 12px;
        margin-bottom: 10px;
    }
}
/* ************************************************ */




/******************** Return Order *******************/
.mv_ro_status_button{
    border: none !important;
}
.mv_accept_status{
    padding: 5px 10px;
    color: #0D894F;
    background-color: #E7F4EE;
    width: 120px;
    text-align: center;
    font-weight: 600;
}
.mv_reject_status{
    padding: 5px 10px;
    color: #FF0000;
    background-color: #E7F4EE;
    width: 120px;
    text-align: center;
    font-weight: 600;
}
/* ************************************************ */




/*************** View Terms & Conditions **************/
.mv_main_view_terms_conditions{
    background-color: #fff;
    padding: 20px;
    box-shadow: 1px 1px 20px 0.5px #0000000F;
}
.mv_privacy_policy{
    background-color: #fff;
    padding: 20px;
}
.mv_privacy_policy_text{
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    color: #6A6A6A;
}
.mv_terms_of_heading{
    font-size: 20px;
    font-weight: 500;
    line-height: 24.2px;
    color: #2B221E;
}




@media(max-width:575px){
    .mv_view_term_and_con{
        display: block !important;
    }
    .mv_term_condi_heading{
        margin-left: 0px !important;
    }
    .mv_view_term_heading{
        margin-left: 0px !important;
    }
    .mv_terms_of_heading {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .mv_privacy_policy_text {
        font-size: 14px;
    }
}
@media(max-width:425px){
    .mv_main_view_terms_conditions {
        padding: 20px 10px;
    }
}
/* ************************************************ */




/******************** Contact Us *******************/
.mv_contect_details_header {
    padding: 1rem 1rem !important;
    text-align: center !important;
}
.mv_contect_details_header button:focus{
    box-shadow: none !important;
}
/* ************************************************ */




/******************** View About Us *******************/
.mv_quickcart_heading{
    font-weight: 600;
    font-size: 28px;
    line-height: 33.89px;
    color: #2A221E;
}
.mv_quickcart_text{
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #6A6A6A;
}




@media(max-width:575px){
    .mv_quickcart_heading {
        font-size: 20px;
        line-height: 22px;
        margin-bottom: 10px;
    }
    .mv_quickcart_text {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 10px;
    }
}
@media(max-width:767px){
    .mv_main_quickcart {
        flex-wrap: wrap-reverse !important;
    }
    .mv_quickcart_img{
        margin-bottom: 10px;
    }
}
/* ************************************************ */




/******************** View About Us *******************/
.mv_help_table tbody tr td {
    text-wrap: wrap !important;
}
/* ************************************************ */