*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
tr th{
  background-color: #FFF9F6 !important;
  line-height: 31.47px;
}
/* SearchBar */
.search-icon-container {
    background-color: #fff !important;
    border-right: none !important;
  }
  
  .search-icon {
    color: #6c757d;
  }
  .search-input {
    padding-left: 0 !important;
    border-left: none !important;
  }
  .search-input:focus {
    box-shadow: none !important;
    outline: none !important;
    border-color: #dee2e6 !important;
  }
.search-input-group .input-group-text:focus {
    box-shadow: none !important;
    outline: none !important;
    border-color: #dee2e6 !important;
  }
  .search-input:hover {
    border-color: #dee2e6;
  }
  .search-input.form-control {
    border-left: 0;
  }
  .r_inputgroup{
    width: 250px !important;
  }
  .r_filterbtn{
    border-radius: 5px !important;
    border: 1px solid #95908F !important;
    color: black !important;
    padding: 5px 30px !important;
    background-color: transparent !important;
  }
  .r_deleticon{
    border: 1px solid #95908F !important;
   border-radius: 4px !important;
   background-color: transparent !important;
   padding: 0 !important;
  }
  .r_deletimg{
    width: 100% !important;
    height:34px !important;
    box-sizing: border-box !important;
    object-fit: cover !important;
    padding: 8px;
  }
  .pagination li{
    margin: 0 5px !important;
    background-color: transparent !important;
  }
  .page-item{
    --bs-pagination-active-bg: #2B221E !important;
    --bs-pagination-active-border-color: #2B221E !important;
    --bs-pagination-active-color: #fff !important;
  }
  .page-link{
    color: #2B221E;
  }
  /* filter offcanvas */
  .r_filtertitle{
    font-size: 20px !important;
    font-weight:500 !important;
  }
  .offcanvas-header{
    border-bottom: 1px solid #DADADA!important;
  }
  .r_outlinebtn{
    padding: 10px 15px !important;
    border: 1px solid #95908F !important;
    background-color: transparent !important;
    color: black !important;
  }
  .r_bgbtn{
    padding: 10px 15px !important;
    background-color: black !important;
    color: white !important;
    border-color: transparent !important;
  }
  /* Delete Modal */
  .r_cancel{
    border: 1px solid #95908F !important;
    padding: 7px 20px;
    width: 150px;
    color: #2B221E !important;
    background-color: transparent !important;
  }
  .r_delete{

    border: 1px solid #95908F !important;
    padding: 7px 20px !important;
    width: 150px !important;
    background-color: #2B221E !important;
    color:white !important;
    
  }
  .r_add{
    background-color: #2B221E !important;
    color: white !important;
    padding: 5px 30px;
    border: none !important;
    font-size: 15px;
  }
  /* comman modal css */
  .r_modalheader{
    border-bottom: none !important;
    /* padding: 5px !important; */
  }
  .r_modalbody{
    padding: 0px !important;  
  }
  .r_form{
    padding: 30px !important;
  }
  @media screen and (max-width:425px){
    .input-group{
        width: 100% !important;
      }
  }


  
/* .page-link{
    color: black !important;
}
.active>.page-link{
    color: white !important;
    background-color: black!important;
    border: none;
}
.r_btn{
    border: 1px solid black !important;
    padding: 7px 50px !important;
    border-radius: 5px !important; 
}
thead th{
     background-color: #FFF9F6 !important;
      cursor: pointer !important;
}
.modal-header{
    border-bottom: none;
    padding: 5px !important;
}
.modal-content{
    border-radius: 0;

} 
.modal-body form{
    padding: 20px !important;
}
.r_bottom{
    margin-bottom: 2rem;
}

.form-switch .form-check-input{
    background-color: #919191 !important;
    border-color: #919191 !important;
}

.form-check-input:checked {
    background-color: black !important;
    border-color: black !important;
}
.page-item{
    margin: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
} */
