/* .css-7mxpdy-MuiPaper-root-MuiAppBar-root{
        background-color:white !important;
    --AppBar-background:white !important;
    color: black !important;
} */
 .css-1lwhjos-MuiPaper-root-MuiDrawer-paper{
    background-color: #2B221E !important;
    color: white !important;
 }
 .css-1n6jaw4-MuiListItemText-root::after{
    content: "'•'",
 }
